.phoneItem {
    flex-basis: 100%;
    margin: 1em;
    &__card {
        padding: 2rem 1rem;
        &__boxTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 480px) {
    .phoneItem {
        flex-basis: 45%;
    }
}

@media (min-width: 992px) {
    .phoneItem {
        flex-basis: 23%;
        transition: all .2s ease-in-out;
        margin: 1.5rem;
        &:hover {
            transform: scale(1.03);
        }
    }
    .phoneItem.compact {
        flex-basis: 32%;
    }
}