.phoneDetail{
    padding: 0 1em 0 1.6rem;
    &__boxFirst {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        &__description {
            font-size: 1.3rem;
            line-height: 1.3;
            -ms-flex-preferred-size: 60%;
                flex-basis: 60%;
        }
        &__vert {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            &__price {
                font-weight: 500;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
    &__boxSec {
        margin-top: 1.1rem;
        &__title {
            font-weight: 500;
            font-size: 1.3rem;
        }
        &__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: .7rem;
            &__item {
                padding-right: 2rem;
                color: #333;
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    }
}