%positionErrorOrLoading{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 80%;
    padding: 2rem;
}
%titleErrorOrLoading {
    font-size: 3.5rem;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
}